.topRow {
    background-color: pink;
  }
  
  .mainHeader {
    justify-content: center;
    text-align: center;
    font-size: 80px;
    padding: 20px;
  }
  
  .card-header {
    background-color: pink;
  }
  
  .row {
    padding: 20px;
  }
  
  .col-3 {
    display: flex;
    justify-content: center;
  }
  
  h3 {
    font-size: 1.5rem;
    
  }
  
  .card {
    box-shadow: 5px 5px 10px;
  }